@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');

.left-sidebar {
    /* background-color: bisque; */
    border-right: 1px solid #5b7083;
}

.main {
    /* background-color: salmon; */
}

.right-sidebar-container {
    /* background-color: teal; */
}

:root {
    /* color scheme list */
    --first: rgb(10,197,168);
    --second: rgb(44,60,91);
    --third: rgb(85,106,174);
    --fourth: rgb(235,235,235);
    --fifth: rgb(245,245,245);
}

body {
    font-family: "Merriweather Sans", sans-serif;
    box-sizing: border-box;
}

.layout {
    /* position: fixed does not work in grid container */
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1200px;
}

.layout .right-sidebar {
    position: fixed;
    width: 350px;
}

.layout .logo {
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px auto 10px auto;
}

.sidebar-menu {
    position: fixed;
}

.sidebar-menu .menu-item {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--second);
    display: flex;
    align-items: center;
    padding: 4px;
}

.sidebar-menu .menu-item:hover {
    background-color:rgba(85, 106, 174, 0.445);
    border-radius: 45px;
    cursor: pointer;
}

.sidebar-menu .menu-item .btn {
    text-decoration: none;
    color: var(--second);
}

.sidebar-menu .menu-item .btn h4 {
    float: right;
}

.sidebar-menu .active {
    background-color:rgba(85, 106, 174, 0.445);
    border-radius: 45px;
}
.sidebar-menu .menu-item .icon {
    width: 30px;
    height: 30px;
    margin: 10px 10px; 
}

.feed {
    display: flex;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 5px;
    padding: 10px 15px;
}

.feed:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.feed a {
    color: var(--third);
    text-decoration: none;
}

.feed a:hover {
    text-decoration: underline;
}

.feed .author-picture {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.feed .header {
    display: flex;
}

.feed .author-name {
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
}

.feed .author-id {
    color: #5b7083;
    font-size: 15px;
}

.feed .activity-time {
    margin-left: 5px;
    color: #6577;
}

.feed .feed-image {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.trends {
    border-radius: 15px;
    background: rgba(85, 106, 174, 0.20);
    margin-bottom: 20px;
}

.trends .trend-block {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
}

.trends .trend-block:last-child {
    border-bottom: none;
}

.trends .trend-header {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}

.trends .trend-meta-info {
    font-size: 13px;
    font-weight: 300;
    color: #657786;
}

.trends .trend-name {
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}

.your-hub {
    background: rgba(85, 106, 174, 0.20);;
    border-radius: 15px;
}

.your-hub .block {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
}

.your-hub .block:last-child {
    border-bottom: none;
}

.your-hub .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.your-hub .heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}

.your-hub .user-name {
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
}

.your-hub .user-id {
    color: #5b7083;
    font-size: 15px;
}

.your-hub .button {
    font-size: 15px;
    font-weight: bold;
    color: #e6ecf0;
    padding: 4px;
    background-color: var(--third);
    border-radius: 10px;
    width: 15%;
    text-align: center;
}

.your-hub .button:hover {
    cursor: pointer;
}

.footer .footer-item {
    font-size: 12px;
    color: #5b7083;
    text-decoration: none;
    margin: 10px 12px;
}



