<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hubla</title>

</head>
<body>
    <div class="container flex-container">
        <div class="content">
            <div class="content-left">
                <div class="image">
                    <img src="../static/Images/hubla-logo-no-bg.png" alt="hubla-logo">
                </div>
                <div class="description">
                    <div class="description-list">
                        <div class="description-icon">
                            <img src="../static/Images/group.png" alt="group-image">
                        </div>
                        Group Messaging.
                    </div>
                    <div class="description-list">
                        <div class="description-icon">
                            <img src="../static/Images/global-network.png" alt="group-image">
                        </div>
                        Center of the world's attention.
                    </div>
                    <div class="description-list">
                        <div class="description-icon">
                            <img src="../static/Images/trending.png" alt="group-image">
                        </div>
                        Join the trend.
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="content-right-items">
                    <h2>Bringing you a fun group messaging experience!</h2>
                    
                    <h4>Jump in to hubla right now!</h4>
                    
                    <form action="/register" method="GET">
                        <button class="register" type="submit">Register</button>
                    </form>
                    <form action="/login" method="GET">
                        <button class="login" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
            <a href="#" class="footer-item">About</a>
            <a href="#" class="footer-item">Contact</a>
            <a href="#" class="footer-item"> &#169 2021 javaliKai</a>
        </div>
    </div>
</body>
</html>