<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/layout-style.css">
    <title>Hubla | {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="layout">
        <div class="left-sidebar">
            <img src="../static/Images/hubla-only-logo.png" alt="hubla-logo" class="logo">
            <div class="sidebar-menu">
                <div class="menu-item">
                    <img src="../static/Images/home.png" alt="home-logo" class="icon"> Home
                </div>
                <div class="menu-item">
                    <img src="../static/Images/bell.png" alt="bell-logo" class="icon"> Notification
                </div>
                <div class="menu-item">
                    <img src="../static/Images/direction.png" alt="compass-logo" class="icon"> Explore
                </div>
                <div class="menu-item">
                    <img src="../static/Images/user.png" alt="profile-logo" class="icon"> Profile
                </div>
            </div>
        </div>
        <div class="main">
           <div class="feed">
                <img src="../static/Images/profile.jfif" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Sibe
                        </div>
                        <div class="author-id">
                            @sibe123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        Hey h00man
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            anonymouuus
                        </div>
                        <div class="author-id">
                            @mimi123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        Hey doggo
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Gentleman
                        </div>
                        <div class="author-id">
                            @gt123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        hey doggo and hoomAN
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Sibe
                        </div>
                        <div class="author-id">
                            @sibe123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                       ...
                       <a href="#"></a>
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Sibe
                        </div>
                        <div class="author-id">
                            @sibe123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        This app is great!
                    </div>
                </div>
           </div>
        </div>
        <div class="right-sidebar-container">
            <div class="right-sidebar">
                right
            </div>
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>