<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/layout-style.css">
    <title>Hubla | {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="layout">
        <div class="left-sidebar">
            <img src="../static/Images/hubla-only-logo.png" alt="hubla-logo" class="logo">
            <div class="sidebar-menu">
                <div class="menu-item">
                    <a class="btn" href="/home">
                        <img src="../static/Images/home.png" alt="home-logo" class="icon"><h4>Home</h4>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="btn" href="/notification">
                        <img src="../static/Images/bell.png" alt="bell-logo" class="icon"><h4>Notification</h4>
                    </a>                
                </div>
                <div class="menu-item">
                    <a class="btn" href="/explore">
                        <img src="../static/Images/direction.png" alt="compass-logo" class="icon"><h4>Explore</h4>
                    </a>                
                </div>
                <div class="menu-item">
                    <a class="btn" href="/profile">
                        <img src="../static/Images/user.png" alt="user-logo" class="icon"><h4>Profile</h4>
                    </a>
                </div>                
                <div class="menu-item">
                    <a class="btn" href="# ">
                        <img src="../static/Images/plus-cross.png" alt="plus-logo" class="icon"><h4>Create a hub</h4>
                    </a>     
                </div>
            </div>
        </div>
        <div class="main">
           <div class="feed">
                <img src="../static/Images/profile.jfif" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Sibe
                        </div>
                        <div class="author-id">
                            @sibe123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        Hey h00man
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            anonymouuus
                        </div>
                        <div class="author-id">
                            @mimi123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        Hey doggo
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Gentleman
                        </div>
                        <div class="author-id">
                            @gt123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        hey doggo and hoomAN
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            malicious
                        </div>
                        <div class="author-id">
                            @mlm123
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                       Welcome to Hubla! <br>
                       <a href="http://127.0.0.1:5500/templates/layout.html">hubla</a>
                       <img src="../static/Images/hubla-logo-no-bg.png" alt="" class="feed-image">
                    </div>
                </div>
           </div>
           <div class="feed">
                <img src="../static/Images/empty-profile.png" alt="" class="author-picture">
                <div class="main-feed">
                    <div class="header">
                        <div class="author-name">
                            Sike
                        </div>
                        <div class="author-id">
                            @sike223
                        </div>
                        <div class="activity-time">
                            1m
                        </div>
                    </div>
                    <div class="content">
                        This app is great!
                    </div>
                </div>
           </div>
        </div>
        <div class="right-sidebar-container">
            <div class="right-sidebar">
                <div class="trends">
                    <div class="trend-block">
                        <div class="trend-header">
                            Hot keyword
                        </div>
                    </div>
                    <div class="trend-block">
                        <div class="trend-meta-info">
                           Fresh from Singapore
                        </div>
                        <div class="trend-name">
                            Changi Airport
                        </div>
                        <div class="trend-meta-info">
                            12h
                        </div>
                    </div>
                    <div class="trend-block">
                        <div class="trend-meta-info">
                            Recent popular in Malaysia
                        </div>
                        <div class="trend-name">
                            Beautiful Genting
                        </div>
                        <div class="trend-meta-info">
                            20h
                        </div>
                    </div>
                    <div class="trend-block">
                        <div class="trend-meta-info">
                            Hot today
                        </div>
                        <div class="trend-name">
                            Dogecoin
                        </div>
                        <div class="trend-meta-info">
                            5h
                        </div>
                    </div>
                </div>
                <div class="your-hub">
                    <div class="block">
                        <div class="heading">
                            Your Hub
                        </div>
                    </div>
                    <div class="block">
                        <!-- <img src="../static/Images/empty-profile.png" alt="" class="author-logo"> -->
                        <div class="content">
                            <div class="user-name">
                                BangBang
                            </div>
                            <div class="user-id">
                                @TH. Tutorial
                            </div>
                            <div class="button">
                                Go
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <!-- <img src="../static/Images/empty-profile.png" alt="" class="author-logo"> -->
                        <div class="content">
                            <div class="user-name">
                                Funnymeme
                            </div>
                            <div class="user-id">
                                @TH. memeeee
                            </div>
                            <div class="button">
                                Go
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <!-- <img src="../static/Images/empty-profile.png" alt="" class="author-logo"> -->
                        <div class="content">
                            <div class="user-name">
                                Mystery
                            </div>
                            <div class="user-id">
                                @TH. Mysteriouuus
                            </div>
                            <div class="button">
                                Go
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a href="#" class="footer-item">About</a>
                    <a href="#" class="footer-item">Contact</a>
                    <a href="#" class="footer-item"> &#169 2021 javaliKai</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>
</html>